.ProductDiv {
  display: flex;
  justify-content: center;
  margin: 30px auto 0;
}

.ProductCard {
  margin: 10px !important;
  box-shadow: 0 0 !important;
}

.SideProductPadding {
  padding: 10px !important;
}
