/*.Icon {*/
/*background: #1c1d1e !important;*/
/*padding: 25px !important;*/
/*margin-right: -19px !important;*/
/*border-radius: 0 3px 3px 0 !important;*/
/*color: #fff !important;*/
/*}*/

.DropDownStyle {
  background: #fff !important;
  color: #000 !important;
  border: 0 !important;
  font-size: 1rem;
}

.ColumnMargin {
  margin: 50px 0 !important;
}

.GridMargin {
  margin: 50px auto !important;
}

.ButtonMargin {
  margin: 20px !important;
}

.CardImageStyle {
  margin: 50px 0 0 !important;
}

.MapGridStyle {
  margin: 0 20px !important;
}
