.ProductMenu {
  margin: 20px 20px 14px !important;
  padding-bottom: 20px !important;
}

.ButtonStyle {
  text-align: center !important;
}

.ModalDescription {
  margin: 20px 0 !important;
}

.CartGrid {
  margin: 20px !important;
}

.TotalPrice {
  margin: 20px 30px !important;
}
