.BlueTitle {
  color: #1ba1b8 !important;
}

.GreyText {
  color: #e3e1df !important;
}

.ReadMore {
  color: #a6a7a3;
}

.ReadMore:hover {
  color: #38d419d5;
}

.DarkGrey {
  color: #5d5d5d !important;
}

.DarkBackground {
  background: #262329 !important;
}

.BodyBackground {
  background: #f5f5f5;
}

.CenterText {
  text-align: center;
  margin: 70px auto 50px !important;
}
